<div id="page1">

    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2500px, 0px, 0px);">
            <div v-for="url in bannerList" class="swiper-slide"><img v-bind:src="url" alt=""></div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        </div>
    </div>
    <ul class="list">
        <li class="storeList" v-for="item in shopList" @click="goDetail(item)">
            <div class="shopImage">
                <img v-bind:src="item.img"  alt="">
                    <span>仅剩10件</span>
            </div>
            <div class="blurb">
                <p>{{item.name}}</p>
                <div class="instruction">
                    <span class="ins-1">正品</span>
                    <span class="ins-2">免费服务</span>
                    <span class="ins-3">包邮</span>
                </div>
                <div class="price">
                    <span class="price-1">￥{{item.price}}</span>
                    <del class="price-2">￥{{item.marketPrice}}</del>
                    <span class="price-3">{{item.buyCount}}人购买</span>
                </div>
            </div>
        </li>
    </ul>
</div>